<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>极客商城项目接口文档</title>
</head>

<body>
	<h2>极客商城接口文档</h2>
	<h4>
		所有接口都会返回code字段,code为1表示请求成功,code为0表示请求失败
		<br>
		msg字段表示请求成功或失败的信息,data是响应的数据
		<br>
		接口地址:http://127.0.0.1:3000
	</h4>
	<ul>
		<li>
			0.注册接口:/register
			<br>
			请求方式:get
			<br>
			请求参数:
			<br>
			name:用户名(必传)
			<br>
			psw:密码(必传)
			<br>
			sex:性别(选传)
		</li>
		<br>
		<li>
			1.登录接口:/login
			<br>
			请求方式:get
			<br>
			请求参数:
			<br>
			name:用户名(必传)
			<br>
			psw:密码(必传)
			<br>
			接口返回数据:
			<br>
			{name:用户名,psw:密码,sex:性别}
			<br>
		</li>
		<br>
		<li>
			2.签到列表接口:/signlist
			<br>
			请求方式:get
			<br>
			请求参数:
			<br>
			name:账号
			<br>
		</li>
		<br>
		<li>
			3.今日签到接口:/sign
			<br>
			请求方式:get
			<br>
			请求参数:
			<br>
			name:账号
			<br>
		</li>
		<br>
		<li>
			4.今日是否签到接口:/issign
			<br>
			请求方式:get
			<br>
			请求参数:
			<br>
			name:账号
			<br>
		</li>
		<br>
		<li>
			5.开通会员接口:/vip
			<br>
			请求方式:get
			<br>
			请求参数:
			<br>
			name:账号
			<br>
		</li>
		<br>
		<li>
			6.判断是否是会员接口:/isvip
			<br>
			请求方式:get
			<br>
			请求参数:
			<br>
			name:账号
			<br>
			响应数据:
			<br>
			如果是会员会返回会员特权列表
			<br>
		</li>
		<br>
		<li>
			7.精选分类接口:/category
			<br>
			请求方式:get
			<br>
		</li>
		<br>
		<li>
			8.精选分类列表接口:/categorylist
			<br>
			请求方式:post
			<br>
			请求参数:
			<br>
			categoryid:分类的id
			<br>
		</li>
		<br>
		<li>
			9.商品评价接口:/comments
			<br>
			请求方式:post
			<br>
			请求参数:
			<br>
			goodsid:商品的id
			<br>
		</li>
		<br>
		<li>
			10.搜索商品接口:/search
			<br>
			请求方式:post
			<br>
			请求参数:
			<br>
			keywords:搜索的商品名
			<br>
		</li>
		<br>
		<li>
			11.订阅接口:/shops
			<br>
			请求方式:get
			<br>
		</li>
		<br>
		<li>
			12.首页小图标接口:/mainicon
			<br>
			请求方式:get
			<br>
		</li>
		<br>
		<li>
			13.首页商品接口:/maingoods
			<br>
			请求方式:get
			<br>
		</li>
		<li>
			14.今日特惠列表接口:/discount
			<br>
			请求方式:get
			<br>
		</li>
	</ul>
	<script>

	</script>
</body>

</html>